<template>
  <div class="mt-5 mb-5 w-50 m-auto">
    <div class="text-center fw-bold h3">
      <p>EMAIL MASIVOS</p>
    </div>
    <div class="mb-3">
      <v-label title="Destinartarios" />
      <select v-model="data.destino" @click="getCities()" class="form-select" aria-label="">
        <option selected value="all">Todos</option>
        <option v-for="(item, index) in cities" :key="index" :value="item.categoria">
          {{ item.categoria }} [{{ item.total }}]
        </option>
      </select>
      <v-error :errors="errors" filtro="destino" />
    </div>

    <div class="mb-3">
      <v-label title="Asunto" for="asunto" />
      <input v-model="data.asunto" type="text" class="form-control" id="asunto" placeholder="Incremento de tarifas">
      <v-error :errors="errors" filtro="asunto" />
    </div>

    <div class="mb-3">
      <v-label title="Introduccion" for="contenido" />
      <textarea v-model="data.contenido" class="form-control" id="contenido" rows="3"></textarea>
      <v-error :errors="errors" filtro="contenido" />
    </div>

    <div class="mb-3">
      <v-label title="Seleccione uno o varios archivos" for="file" />
      <input class="form-control" name="archivo" @change="getFile()" type="file" id="archivo" multiple>
      <v-error :errors="errors" filtro="archivo" />
    </div>

    <v-message :mensaje="message"></v-message>

    <div class="text-center">
      <button type="button" :disabled="isSending" @click.prevent="sendEmails()" class="btn btn-primary">Enviar
        Correo
      </button>
      <p>
        <a class="btn btn-link " href="/clientes">Lista de clientes</a>
      </p>
    </div>
  </div>
</template>

<script>
export default {

  data() {
    return {
      data: {
        destino: '',
        asunto: '',
        contenido: '',
        archivo: '',
      },
      message: null,
      isSending: false,

      cities: Object,

      errors: {
        email: '',
        subject: '',
        body: '',
        archivo: ''
      }
    }
  },

  created() {
    this.getCities()
  },

  methods: {

    resetData() {
      this.data.destino = ''
      this.data.asunto = ''
      this.data.contenido = ''
      document.getElementById('archivo').value = ''
    },

    resetErrors() {
      this.errors = {
        email: '', subject: '', body: '', archivo: ''
      }
    },

    getFile() {
      this.archivo = Array.from(event.target.files);
    },

    getCities() {
      this.$api.get('/categories').
        then((res) => {
          this.cities = res.data
        })
    },

    sendEmails() {
      this.isSending = true
      const data = new FormData();
      data.append('destino', this.data.destino);
      data.append('asunto', this.data.asunto);
      data.append('contenido', this.data.contenido);
      if (this.archivo) {
        this.archivo.forEach((file, index) => {
          data.append(`archivo[${index}]`, file);
        });
      }

      this.$api.post('/', data, {
        Headers: {
          'Accept': 'application/json',
          'Content-Type': 'multipart/form-data'
        }
      })
        .then(res => {

          this.message = res.data.message
          this.isSending = false

          this.resetData()

          this.errors = {
            email: '',
            subject: '',
            body: '',
            archivo: ''
          }

        })
        .catch(err => {
          this.isSending = false
          if (err.response.data.errors) {
            this.errors = err.response.data.errors
          }
          if (err.response.status >= 500) {
            this.resetErrors()
            this.message = err.response.data.message
          }
        })
    }
  }
}
</script> 