<template>
    <a class="btn btn-link" href="/">Home</a>

    <v-register @registered="clientRegistered"></v-register>

    <v-table styles="table-sm text-sm" :items="items" title="" class="">
        <template v-slot:body>
            <tr v-for="(item, index) in users" :key="index">
                <td v-text="item.identificador"></td>
                <td v-text="item.nombre"></td>
                <td v-text="item.correo"></td>
                <td v-text="item.categoria"></td>
                <td>
                    <a class="btn btn-danger btn-small text-sm mx-2" 
                    @click="destroyClient(item.identificador)">
                    Eliminar
                </a> 
                </td>
            </tr>
        </template>
    </v-table>

    <v-paginate :pages="pages" @send-current-page="getCurrentPage"></v-paginate>
</template>

<script>
import VRegister from './Register.vue'

export default {
    components: {
        VRegister,
    },

    data() {
        return {
            items: ['id', 'nombre', 'email', 'categoria'],
            users: null,

            pages: {
                total: null,
                count: null,
                per_page: null,
                current_page: null,
                total_pages: null
            },

        };
    },

    created() {
        this.getUsers(1)
    },

    methods: {

        getCurrentPage(id) {
            this.getUsers(id);
        },

        clientRegistered() {
            this.getUsers()
        },

        getUsers(page = 1) {
            this.$api.get('/', {
                params: {
                    page: page,
                    per_page: 10,
                }
            })
                .then(res => {
                    this.users = res.data.data
                    this.pages = res.data.meta.pagination
                })
                .catch(error => {
                    console.error(error);
                });
        },

        destroyClient(id){
            this.$api.delete(`/clientes/${id}`).
            then(res => {
                this.getUsers()
            })
        },

    },
}
</script>
