<template>
    <div class="row row-cols-4 col-sm-12 py-2">
        <div class="col">
            <input type="text" v-model="client.nombre" class="form-control" placeholder="Nombre">
            <v-error :errors="errors" filtro="nombre"></v-error>
        </div>

        <div class="col">
            <input type="email" v-model="client.correo" class="form-control" placeholder="name@example.com">
            <v-error :errors="errors" filtro="correo"></v-error>
        </div>

        <div class="col">
            <input type="email" v-model="client.categoria" class="form-control" placeholder="Categoria">
            <v-error :errors="errors" filtro="categoria"></v-error>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-small text-sm mx-2" @click="registrar">Registrar</a>
        </div>
    </div>
</template>
<script>
export default {

    emits: ['registered'],

    data() {
        return {
            client: {
                nombre: null,
                correo: null,
                categoria: null,
            },
            errors: {
                nombre: [],
                correo: [],
                categoria: []
            },
        }
    },

    methods: {
        registrar() {
            this.$api.post('/clientes', {
                nombre: this.client.nombre,
                categoria: this.client.categoria,
                correo: this.client.correo
            })
                .then((res) => {
                    this.$emit('registered', true)
                    this.client.nombre = ''
                    this.client.correo = ''
                    //this.client.categoria = ''

                    this.errors.nombre = ''
                    this.errors.correo = ''
                    this.errors.categoria = ''
                }).catch((err) => {
                    if (err.response)
                        this.errors = err.response.data.errors
                })
        }
    }
}
</script> 