<template>
    <div>
        <ul class="ul">
            <li v-for="err in filterErrors(errors, filtro)" :key="err">
                <span class="error" v-for="(item, index) in err" :key="index">{{ item }}</span>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: {
        errors: {
            type: Object,
            required: true,
        },
        filtro: {
            type: String,
            required: true
        }
    },

    methods: {
        filterErrors(values, fil) {
            return Object.keys(values)
                .filter(key => key.includes(fil))
                .map(key => values[key]);
        }
    }
}
</script>

<style lang="css" scoped>
ul {
    list-style: none !important;
    padding-left: 0%;
}

.error {
    color: red;
    display: block;
    font-size: 12px;
}
</style>