<template>
    <i :class="['fa-solid', styles]"></i>
</template>
<script>
export default {

    props: {
        styles: {
            type: [String, Array],
            required: true
        }
    }
}
</script> 