<template> 
    <label :for="to" class="form-label fw-bold">{{ title }}</label>
</template>
<script>
export default {
    props:{
        title:{
            type:String,
            required:true,
        },
        to:{
            required:false,
            default:'default'
        }
    }
}
</script>  