<template>
    <div v-if="mensaje" v-show="mostrar" class="text-success fw-bold text-center my-3">
        {{ mensaje }}
    </div>
</template>

<script>
export default {
    data() {
        return {
            mostrar: true,
            timeout: null,
        };
    },
    props: {
        mensaje: {
            type: String,
            default: '',
        },
    },
    watch: {
        mensaje(nuevoMensaje) {
            if (nuevoMensaje) {
                this.mostrar = true;
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.mostrar = false;
                }, 19000);
            } else {
                this.mostrar = false;
                clearTimeout(this.timeout);
            }
        },
    },
};
</script>

<style> 
</style>
