<template>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <li class="page-item">
                <a class="page-link  bg-success text-light" v-on:click="getPage(1)" href="#">
                    Primera Pagina
                </a>
            </li>

            <li :class="['page-item', disabled_prev]">
                <a href="#" class="page-link" v-on:click="getPage(pages.current_page - 1)">
                    Anterior
                </a>
            </li>

            <li :class="['page-item', pages.current_page + 1 == index + 1 ? 'active' : '']"
                v-for="index in getSurroundingNumbers()" :key="index" v-on:click="getPage(index)">
                <a class="page-link" href="#">
                    {{ index }}
                </a>
            </li>

            <li :class="['page-item', disabled_next]">
                <a class="page-link" v-on:click="getPage(pages.current_page + 1)" href="#">
                    Siguiente
                </a>
            </li>

            <li class="page-item">
                <a class="page-link bg-danger text-light" v-on:click="getPage(pages.total_pages)" href="#">
                    Ultima Pagina
                </a>
            </li>
        </ul>
    </nav> 
</template>
<script>
export default {
    props: {
        pages: {
            type: Object,
            required: true
        },
        len_pagination: {
            type: Number,
            required: false,
            default: 5
        }
    },

    emits: ['sendCurrentPage'],

    data() {
        return {
            current_page: 1,
            disabled_prev: null,
            disabled_next: null,
        }
    },

    updated() {
        this.disablePrevious()
    },

    created() {
        this.disablePrevious()
    },

    methods: {

        getSurroundingNumbers() {
            const numbers = [];

            if (this.pages.current_page > 1) {
                for (let i = this.pages.current_page - this.len_pagination; i < this.pages.current_page; i++) {
                    if (i >= 1) {
                        numbers.push(i);
                    }
                }
            }

            for (let i = this.pages.current_page; i <= this.pages.current_page + this.len_pagination; i++) {
                if (i <= this.pages.total_pages) {
                    numbers.push(i);
                }
            }

            return numbers;
        },


        disablePrevious() {
            this.disabled_prev = (this.pages.current_page == 1)
                || (this.pages.total_pages == null)
                ? 'disabled' : ''
            this.disabled_next = (this.pages.current_page == this.pages.total_pages) ? 'disabled' : ''
        },

        getPage(id) {
            if (id == 0) {
                this.$emit('sendCurrentPage', 1)
            } else {
                this.$emit('sendCurrentPage', id)
            }
        }

    },


}
</script> 

<style></style>